<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Pogoda</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}


</style>
</head>
<body class="content">

<!-- Sidebar -->
<nav class="sidebar collapse white animate-left" style="overflow: hidden" id="mySidebar"><br>
  <div class="container">

    <h4><b>Jakub Maciasz</b></h4>
    <p class="text-grey">Python Django Web-Developer</p>
  </div>
  <div class="w3-bar-block">
    <a href="https://myportfolio970913.herokuapp.com/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>

  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Page content -->
<div class="main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">

    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b><a href="{% url 'home' %}" style="color: black;">Pogoda</a></b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">

    </div>
    </div>
  </header>

  <div>
    <form method="POST">
       {% csrf_token %}
        <div>
            <div class="form">

                {{form.name}}
              <button type="submit" class="button" >
                    Dodaj
                </button>
            </div>
        </div>
        {% if message %}

        <div class="notification {{message_class}}">
            {{message}}
        </div>
        {% endif %}
        {% if err_msg %}

        <div class="notification {{message_class}}">
            {{err_msg}}
        </div>
        {% endif %}

    </form>
</div>
    {% for city_weather in weather_data %}
    <article class="card" style="background: url('static/images/{{ city_weather.icon }}.gif'); margin-bottom: 10px ">

        <div class="card__content">

            <h3 class="card__title">{{ city_weather.city }}</h3>
            <span class="card_subtitle"><p class="card__description>">{{ city_weather.temperature }} °C</p></span>
            <p class="card__description>">
                Niebo: {{ city_weather.description }}
                <br> Wilgotność: {{ city_weather.humidity }}% <a href="{% url 'delete_city' city_weather.city %}">
              <button type="button" class="przycisk"></button>
            </a></p>


        </div>
    </article>
    {% endfor %}
<!-- End page content -->
</div>
<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						<br>Jakub Maciasz &copy; 2022 <strong>Weather App</strong>
					</div>
					<div class="col-lg-12 text-center">
						 <br><a href="#" style="color: darkgrey">Portfolio</a>
					</div>
					<div class="col-lg-12 text-center">
						<a href="https://github.com/faya22" style="color: darkgrey">GitHub</a>
					</div>
					<div class="col-lg-12 text-center">
						<a href="https://www.linkedin.com/in/jakub-maciasz-53082521b/" style="color: darkgrey">LinkedIn</a>
                        <p><br></p>
					</div>

				</div>
			</footer>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
